body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-family: "Merriweather",Georgia,serif;
    font-size: 14px;
    line-height: 1.7;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.equation {
    font-family: serif;
}

table.steps th, table.steps td {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    text-align: left;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.action {
    color: #003399;
    cursor: pointer;
    text-decoration: underline;
}


.graph {
    background-color: #f4f4f4;
    padding: 1em;
    margin: 0 -1em;
}

.graph svg {
    background-color: #fff;
}


.button-less, .button-more {
    margin: 0 5px;
    padding: 2px 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.button-less {
    background-color: #a00;
}

.button-more {
    background-color: #090;
}

.control-name {
    display: inline-block;
    width: 15px;
    text-align: center;
}

.ui-slider {
    position: relative;
}

.ui-slider .ui-slider-handle {
    position: absolute;
}

.coefficient-slider {
    display: inline-block;
    width: 300px;
    height: 0.8em;
    border: 1px solid #039;
    border-radius: 4px;
    background-color: #fff;
}

.coefficient-slider .ui-slider-handle {
    width: 1em;
    height: 1em;
    margin-left: -0.5em;
    margin-top: -0.1em;
    border: 1px solid #039;
    border-radius: 4px;
    background-color: #ddd;
}
